<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".EasyFlashcardsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyFlashcards"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".PackageLeaderBoardActivity"
            android:exported="false"
            android:parentActivityName=".FlashCardsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FlashCardsListActivity" />
        </activity>


        <activity
            android:name=".games.memory.MemoryActivity"
            android:exported="false" />
        <activity
            android:name=".games.quiz.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".games.learning.LearnCardsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".games.ChooseGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".games.ChooseGameActivity" />
        </activity>
        <activity
            android:name=".drawer_items.buying.BuyDetailsActivity"
            android:exported="false"
            android:parentActivityName=".drawer_items.buying.BuyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".drawer_items.buying.BuyActivity" />
        </activity>

        <activity
            android:name=".drawer_items.buying.BuyActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".starter_activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".starter_activities.MainActivity" />
        </activity>
        <activity
            android:name=".SharePackageActivity"
            android:exported="true"
            android:parentActivityName=".starter_activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".starter_activities.MainActivity" />
        </activity>
        <activity
            android:name=".starter_activities.LauncherActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".games.explore.ExploreCardsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".games.ChooseGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".games.ChooseGameActivity" />
        </activity>
        <activity
            android:name=".games.ChooseGameActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".FlashCardsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FlashCardsListActivity" />
        </activity>
        <activity
            android:name=".SetFlashCardActivity"
            android:exported="false"
            android:parentActivityName=".FlashCardsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FlashCardsListActivity" />
        </activity>
        <activity
            android:name=".FlashCardsListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".starter_activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".starter_activities.MainActivity" />
        </activity>
        <activity
            android:name=".SetPackageActivity"
            android:exported="false"
            android:parentActivityName=".starter_activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".starter_activities.MainActivity" />
        </activity>
        <activity
            android:name=".starter_activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".starter_activities.signing_up.LoginActivity"
            android:exported="true" />

        <service
            android:name=".foreground_services.BackupForegroundService"
            android:exported="false" />
    </application>

</manifest>